Colors {
    c: #133D59;
    c: #2A7299;
    c: #D7D0BB;
    c: #0A0F13;
    c: #625A4C;
    c: #F4783B;
    c: #F4E8A1;
    c: #E4DDCA;
}

Grays {
    c: #14191B;
    c: #2A3436;
    c: #B1ADA0;
    c: #615E55;
    c: #3B342F;
}