.article-overview {
  list-style: none;
  
  h2 {
    padding: 0;
    font-size: 30px;
  }
}

.article-date {
  float: right;
  font-size: 16px;
}

.article-description {
}

.blog-image {
  -webkit-box-shadow: inset 10px -9px 22px -13px rgba(0,0,0,1);
  -moz-box-shadow: inset 10px -9px 22px -13px rgba(0,0,0,1);
  box-shadow: inset 10px -9px 22px -13px rgba(0,0,0,1);
  
  background-size: cover;
  background-position: 0% +50%;
  
  height: 400px; 
  overflow: hidden;
  width: 100%;
  
  @media screen and (max-width: $page-response-width)
  {
    -webkit-box-shadow: inset 0px -11px 38px -7px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px -11px 38px -7px rgba(0,0,0,1);
    box-shadow: inset 0px -11px 38px -7px rgba(0,0,0,1);
  }
}

.blog-content {
  height: 100%;
  width: 750px;
  margin: 60px auto 0;
  padding: 0 25px 25px;
  
  img {
    width: 100%;
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    
    font-size: 30px;
  }
  
  p {
    line-height: 1.7;
    margin-bottom: 24px;
  }
  
  ul {
    padding-left: 40px;
    font-size: 20px;
    color: $color-foreground;
    
    margin-bottom: 20px;
    
    ul, ol {
      margin-bottom: 0;
    }
  }
  
  ol {
    padding-left: 40px;
    font-size: 20px;
    color: $color-foreground;
    
    margin-bottom: 20px;

    ul, ol {
      margin-bottom: 0;
    }
  }
  
  li:not(:last-child) {
    padding-bottom: 5px;
  }
  
  blockquote {
    background-color: $color-background-4;
    
    p {
      font-size: 18px;
    }
  }
  
  table {
    font-size: 20px;
    color: $color-foreground;
  }
  
  code {
    background: $color-background-2;
    color: $color-foreground;
    font-size: 16px;
  }
  
  @media screen and (max-width: $page-transition-width) {
    width: 650px;
  }

  @media screen and (max-width: $page-smallest-width) {
    width: 100%;

    padding: 30px 25px 25px;
  }
}