.blinker::after {
  content: "|";
  //border: 5px  solid $color-foreground;
  //background-color: $color-foreground;
  display: inline-block;
}

.blinker-highlight {
  color: $color-3;
}

.blinker-animate::after {
  animation: blinker-animation 1.5s steps(1) infinite;
}

@keyframes blinker-animation {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}