$top-padding

.body-content {
  margin-left: 30vw;
  background-color: #14191B;
  padding: $top-padding 40px 40px;
  min-height: 100vh;

  @media screen and (max-width: $page-transition-width) {
    margin-left: 40vw;
    padding: $top-padding 30px 30px;
  }
  
  @media screen and (max-width: $page-response-width) {
    padding-top: 30px;
    margin-left: 0;
  }
}

.primary-content {
  height: 100%;
}
