/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  margin-left: 30vw;
  background-color: #14191B;
  padding: 25px;
  min-height: 100vh;

  @media screen and (max-width: $page-transition-width) {
    margin-left: 40vw;
  }
  
  @media screen and (max-width: $page-response-width) {
    margin-left: 0;
  }
}

.primary-content {
  height: 100%;
}
