$top-padding: 100px;

.body-content {
  margin-left: 30vw;
  background-color: $color-background;
  
  //padding: $top-padding 100px 100px;
  min-height: 100vh;

  @media screen and (max-width: $page-transition-width) {
    margin-left: 40vw;
    //padding: $top-padding 30px 30px;
  }
  
  @media screen and (max-width: $page-response-width) {
    //padding-top: 30px;
    margin-left: 0;
  }
}

.primary-content {
  height: 100%;
  width: 750px;
  margin: 0 auto;
  padding: $top-padding 25px 25px;

  @media screen and (max-width: $page-transition-width) {
    width: 650px;
  }
  
  @media screen and (max-width: $page-smallest-width) {
    width: 100%;

    padding: 30px 25px 25px;
  }
}
