//Carousel item count
$cic: 6;
$duration: 6s;

@mixin carousel_animation {
  @for $i from 1 through $cic {
    &:nth-child(#{$i}) {
      position: absolute;
      left: -100%;
      animation-name: carousel_animation;
      animation-duration: $cic * $duration;
      animation-delay: ($i - 1)* $duration;
      animation-iteration-count: infinite;
      color: $color-foreground;
      width: 100%;
    }
  }
}

@keyframes carousel_animation {
  #{2/$cic * 1%} {opacity: 1}
  #{5/$cic * 1%} {left: 0}
  #{95/$cic * 1%} {left: 0; opacity: 1}
  #{98/$cic * 1%} {left: 100%; opacity: 0;}
  #{100/$cic * 1%} {left: -100%; opacity: 0;}
  100% {left: -100%; opacity: 0}
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 25px;
}
.carousel-list {
  list-style: none;
  & > li {
    @include carousel_animation;
    
    font-size: 20px;
    
    text-align: center;
    &after {
      content: none;
      padding: 0;
    }
  }
}