//Carousel item count
$cic: 9;
$duration: 3s;

@mixin carousel_animation {
  @for $i from 1 through $cic {
    &:nth-child(#{$i}) {
      position: absolute;
      opacity: 0;
      //left: -100%;
      animation-name: carousel_animation;
      animation-duration: $cic * $duration;
      animation-delay: ($i - 1)* $duration;
      animation-iteration-count: infinite;
      color: $color-foreground;
      width: 100%;
    }
  }
}

@keyframes carousel_animation {
  #{10/$cic * 1%} {opacity: 1;}
  #{90/$cic * 1%} {opacity: 1}
  #{100/$cic * 1%} {opacity: 0;}
  100% {opacity: 0}
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 25px;

  @media screen and (max-width: $page-smallest-width) {
    display: none;
  }
}

.carousel-list {
  list-style: none;
  & > li {
    @include carousel_animation;
    
    font-size: 20px;
    
    text-align: center;
    &after {
      content: none;
      padding: 0;
    }
  }
}