footer {
  margin-left: 30vw;
  
  background-color: $color-background;
  
  @media screen and (max-width: $page-transition-width) {
    margin-left: 40vw;
    //padding: $top-padding 30px 30px;
  }

  @media screen and (max-width: $page-response-width) {
    //padding-top: 30px;
    margin-left: 0;
  }
}