.picture {
  $size: 200px;
  
  height: $size;
  width: $size;
  overflow: hidden;
  
  img {
    width: $size;
    height: $size;
  }

  &.pic-left {
    float: left;
    margin-right: 20px;
  }
  &.pic-right {
    float: right;
    margin-left: 20px;
  }
  &.rounded {
    
    shape-margin: 10px;
    shape-outside: circle();
    border-radius: $size;
  }
}