.picture {
  $size: 220px;
  
  height: $size;
  width: $size;
  overflow: hidden;
  
  img {
    margin: 10px;
    width: ($size - 20px);
    height: ($size - 20px);
    border-radius: $size;
  }

  &.pic-left {
    float: left;
    margin-right: 20px;
  }
  &.pic-right {
    float: right;
    margin-left: 20px;
  }
  &.rounded {
    margin-right: 0px;
    shape-margin: 20px;
    shape-outside: circle(40%);
    border-radius: $size;
  }
}