.bar {
  text-align: right; /* Right-align text */
  color: white; /* White text color */
  height: 10px;
  border-radius: 10px;
  background-color: $color-4;
}

@mixin skill_mixin($width, $color) {
  .bar {
    width: $width;
    background-color: $color;
  }
  .skill-dot-bar {
    width: $width;
    .skill-dot {
      background-color: $color;
    }
  }
}


.skill {
  display: flex;
}

.skill-desc {
  float:left;
  min-width: 120px;
  //width: 30%;
}

.skill-box {
  float:right;
  width: 100%;
  height: 20px;
  padding: 5px;
  position: relative;
}

.skill-bar {
  
  width: 100%; /* Full width */
  background-color: $color-background-3; /* Grey background */
  border-radius: 20px;
  overflow: hidden;
}

.skill-dot-bar {
  padding-left:20px;
  top: 0;
  left: 0;
  position: absolute;
  width: 90%;
  height: 20px;
}

.skill-dot {
  background-color: $color-4;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 20px;
}

/*
C++
SQL
Python
Lua
Java
Javascript
dotnet core
asp.net core
web frontend
web backend
 */

.html {
   @include skill_mixin(100%, $color-2);
 }

.css {
  @include skill_mixin(50%, $color-3);
}

.js {
  @include skill_mixin(80%, $color-4);
}

.php {
  @include skill_mixin(25%, $color-5);
}