.bar {
  text-align: right; /* Right-align text */
  color: white; /* White text color */
  height: 10px;
  border-radius: 10px;
  background-color: $color-4;
}

.skill-container {
  padding-top: 20px;
}

@mixin skill_mixin($width, $color) {
  .bar {
    width: $width;
    background-color: $color;
  }
  .skill-dot-bar {
    width: $width;

    .skill-dot {
      background-color: $color;
    }
  }
}

.skill {
  //display: flex;
}

$skill-desc-width: 120px;

.skill-header {
  //display: flex;
}

.skill-header-pad {
  //float: left;
  width: $skill-desc-width;
}

.skill-header-labels {
  float: right;
  width: 100%;
  padding: 5px;
  
  p {
    color: $color-foreground;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.skill-header-unskill {
  float: left;
}

.skill-header-skill {
  float: right;
}

.skill-desc {
  //float: left;
  width: $skill-desc-width;
  padding-left: 5px;
  padding-top: 10px;
  margin: 0;
  //width: 30%;
}

.skill-box {
  //float: right;
  width: 100%;
  height: 20px;
  padding: 5px;
  position: relative;
}

.skill-bar {

  width: 100%; /* Full width */
  background-color: $color-background-3; /* Grey background */
  border-radius: 20px;
  overflow: hidden;
}

.skill-dot-bar {
  padding-left: 20px;
  top: 0;
  left: 0;
  position: absolute;
  width: 90%;
  height: 20px;
}

.skill-dot {
  background-color: $color-4;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 20px;
}

/*
C++
SQL
Python
Lua
Java
Javascript
dotnet core
asp.net core
web frontend
web backend
 */

.html {
  @include skill_mixin(100%, $color-2);
}

.css {
  @include skill_mixin(50%, $color-3);
}

.js {
  @include skill_mixin(80%, $color-4);
}

.php {
  @include skill_mixin(25%, $color-5);
}