.bar {
  text-align: right; /* Right-align text */
  color: white; /* White text color */
  height: 20px;
  border-radius: 20px;
  background-color: $color-4;
}

@mixin skill_mixin($width, $color) {
  .bar {
    width: $width;
    background-color: $color;
  }
  .skill-dot-bar {
    width: $width;
    .skill-dot {
      background-color: $color;
    }
  }
}

.skill-box {
  width: 100%;
  height: 30px;
  padding: 5px;
  position: relative;
}

.skill-bar {
  
  width: 100%; /* Full width */
  background-color: $color-background-3; /* Grey background */
  border-radius: 20px;
  overflow: hidden;
}

.skill-dot-bar {
  top: 0;
  left: 0;
  position: absolute;
  width: 90%;
  height: 30px;
}

.skill-dot {
  background-color: $color-4;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 20px;
}

.html {
   @include skill_mixin(90%, $color-2);
 }

.css {
  @include skill_mixin(50%, $color-3);
}

.js {
  @include skill_mixin(80%, $color-4);
}

.php {
  @include skill_mixin(70%, $color-5);
}