
@{
    ViewBag.Title = "Code";
}

<h1>Building a Person class in C#</h1>
<hr/>
<h2>The person class</h2>
<p>Note, this is actually not a very good person class, I mean come on seriously... just look at it, even tim241
    commented on the crappiness of this poor excuse for a class</p>

<pre><code data-language="csharp">// The best person class ever written
public class Person
{
    public string FirstName { get; set; }
    public string Lastname { get; set; }
    public int Gender { get; set; }
    public DateTime Age { get; set; }

    public Person()
    {}

    public string GetName()
    {
        return $"{FirstName} {Lastname}";
    }
}
</code>
</pre>

<h2>The person class (but better)</h2>
<p>Taking the advice from many renowned experts on the field I have rebuilt my best person class ever written.
    This time it has it all, simpler code, no reduntant constructer, it even has lambdas.</p>

<pre><code data-language="csharp">// The best person class ever written
public class Person
{
    public string FirstName { get; set; }
    public string Lastname { get; set; }
    public int Gender { get; set; }
    public int Age { get; set; }
    public DateTime BirthDate { get; set; }

    public Person( string NewFirstName, string NewLastName, int NewGender)
    {
        FirstName = NewFirstName;
        LastName = NewLastName;

        Gender = NewGender;
        BirthDate = DateTime.Now;
        Age = 0;
    }

    public string GetName() => $"{FirstName} {Lastname}";
}
</code></pre>
<h2>The person class (but perfect)</h2>
<p>After even more advice I have perfected the class.</p>
<pre><code data-language="csharp">// The perfect person class
public class Person
{}
</code></pre>

<h2>The person class (but perfecter)</h2>
<p>Lyze offered an idea that I could make my pefect class even more perfect by adding partial so I did</p>
<pre><code data-language="csharp">// The perfect person class
public partial class Person
{}
</code></pre>

@section Scripts
{
    <script>
    hljs.initHighlightingOnLoad();
    </script>
}