@{
    ViewData["Title"] = "Home";
}

<div class="blinker-container">
    <h1 class="blinker blinker-animate" id="title">Who is Stephen?</h1>
</div>
<script>
document.getElementById("title").innerHTML = "Who is <span class=\"blinker-highlight\">@@author?</span>";
</script>
<hr/>

<div class="picture pic-left rounded">
    <img src="https://vignette.wikia.nocookie.net/joke-battles/images/8/8a/Zuckerberg.jpg/revision/latest?cb=20180613205736" asp-append-version="true"/>
</div>
<p class="drop-cap">
    
</p>

<!--
<div class="skill-container">
    <div class="skill-header">
        <div class="skill-header-pad"></div>
        <div class="skill-header-labels">
            <p class="skill-header-unskill">Beginner</p>
            <p class="skill-header-skill">Expert</p>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">HTML</p>
        <div class="skill-box html">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">CSS</p>
        <div class="skill-box css">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">JavaScript</p>
        <div class="skill-box js">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">PHP</p>
        <div class="skill-box php">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>-->