@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to me.</h1>
<hr/>

<div style="height: 200vh;"></div>

<div class="skill-container">
    <div class="skill-header">
        <div class="skill-header-pad"></div>
        <div class="skill-header-labels">
            <p class="skill-header-unskill">Unskilled</p>
            <p class="skill-header-skill">Skilled</p>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">HTML</p>
        <div class="skill-box html">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">CSS</p>
        <div class="skill-box css">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">JavaScript</p>
        <div class="skill-box js">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">PHP</p>
        <div class="skill-box php">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>