@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to me.</h1>
<hr/>

<div class="picture pic-right rounded">
    <img src="images/temp-profile-pic.jpg"/>
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi blandit cursus risus at ultrices mi. Vitae congue mauris rhoncus aenean vel elit. Mollis aliquam ut porttitor leo a diam sollicitudin tempor. Feugiat in ante metus dictum. Volutpat est velit egestas dui. Phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Venenatis cras sed felis eget velit aliquet sagittis. Sit amet cursus sit amet. Erat imperdiet sed euismod nisi porta lorem. Lectus urna duis convallis convallis tellus id interdum velit laoreet. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Volutpat ac tincidunt vitae semper.
</p>
<p>
    Sit amet mattis vulputate enim nulla aliquet porttitor. In eu mi bibendum neque egestas congue. Duis ut diam quam nulla. Eu lobortis elementum nibh tellus. Vestibulum morbi blandit cursus risus at ultrices mi. Vulputate ut pharetra sit amet aliquam id diam maecenas. Egestas tellus rutrum tellus pellentesque eu tincidunt. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Nisi est sit amet facilisis magna etiam tempor. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. Ullamcorper morbi tincidunt ornare massa eget egestas purus. Faucibus purus in massa tempor nec feugiat nisl. Nibh nisl condimentum id venenatis a condimentum.
</p>
<p>
    Placerat orci nulla pellentesque dignissim enim. Nisi vitae suscipit tellus mauris. Bibendum enim facilisis gravida neque. Duis ut diam quam nulla. Sagittis purus sit amet volutpat consequat mauris nunc congue nisi. A iaculis at erat pellentesque adipiscing. Ligula ullamcorper malesuada proin libero nunc consequat interdum. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Ut diam quam nulla porttitor massa id neque aliquam. Commodo viverra maecenas accumsan lacus vel facilisis. Nam libero justo laoreet sit. Ultrices neque ornare aenean euismod. Et netus et malesuada fames ac turpis egestas integer eget. Ultrices in iaculis nunc sed augue. Amet dictum sit amet justo donec. Enim neque volutpat ac tincidunt vitae semper quis.
</p> 
<p>
    Diam sollicitudin tempor id eu nisl nunc. Non blandit massa enim nec dui nunc mattis enim. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Facilisi etiam dignissim diam quis enim. Orci eu lobortis elementum nibh tellus molestie nunc. Hac habitasse platea dictumst vestibulum. Fermentum odio eu feugiat pretium nibh ipsum. Urna nunc id cursus metus aliquam eleifend mi in nulla. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. Nibh sed pulvinar proin gravida hendrerit lectus a. Integer feugiat scelerisque varius morbi enim nunc faucibus a. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum posuere.
</p>
<p>
    Sed elementum tempus egestas sed sed risus pretium quam. Massa eget egestas purus viverra accumsan in nisl. Massa enim nec dui nunc mattis enim ut tellus. Aliquet porttitor lacus luctus accumsan tortor. Adipiscing diam donec adipiscing tristique. Morbi tincidunt ornare massa eget egestas purus. Id aliquet risus feugiat in. Aenean vel elit scelerisque mauris pellentesque pulvinar. Donec et odio pellentesque diam volutpat commodo sed egestas egestas. Libero nunc consequat interdum varius sit amet. Ultrices sagittis orci a scelerisque purus semper. Est placerat in egestas erat imperdiet sed. At tempor commodo ullamcorper a lacus vestibulum sed.
</p> 
<p>
    Sed ullamcorper morbi tincidunt ornare massa eget egestas. Mauris nunc congue nisi vitae. Tortor dignissim convallis aenean et tortor at risus. Pretium nibh ipsum consequat nisl vel. Pharetra diam sit amet nisl suscipit adipiscing bibendum est ultricies. Amet aliquam id diam maecenas ultricies mi eget mauris pharetra. Nunc non blandit massa enim nec dui nunc. A lacus vestibulum sed arcu non odio euismod lacinia. Velit euismod in pellentesque massa placerat. Lacus laoreet non curabitur gravida arcu ac tortor dignissim. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Bibendum ut tristique et egestas quis ipsum.
</p>
<p>
    Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Proin nibh nisl condimentum id venenatis a condimentum vitae. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget. Velit ut tortor pretium viverra. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Ipsum dolor sit amet consectetur adipiscing elit. Felis donec et odio pellentesque diam. Faucibus ornare suspendisse sed nisi. Faucibus nisl tincidunt eget nullam non nisi est. Suscipit tellus mauris a diam maecenas sed enim ut sem. Auctor neque vitae tempus quam pellentesque. Volutpat blandit aliquam etiam erat velit scelerisque in. Ac tincidunt vitae semper quis lectus nulla at volutpat. Facilisis gravida neque convallis a cras semper. Purus gravida quis blandit turpis cursus in hac habitasse platea. Orci eu lobortis elementum nibh. Enim nunc faucibus a pellentesque. Amet justo donec enim diam vulputate ut.
</p>

<div class="skill-container">
    <div class="skill-header">
        <div class="skill-header-pad"></div>
        <div class="skill-header-labels">
            <p class="skill-header-unskill">Unskilled</p>
            <p class="skill-header-skill">Skilled</p>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">HTML</p>
        <div class="skill-box html">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">CSS</p>
        <div class="skill-box css">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">JavaScript</p>
        <div class="skill-box js">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">PHP</p>
        <div class="skill-box php">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>