@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to me.</h1>
<hr/>

<div style="height: 200vh;"></div>

<div class="skillbox">
    <p>HTML</p>
    <div class="skillbar">
        <div class="bar html">90%</div>
    </div>

    <p>CSS</p>
    <div class="skillbar">
        <div class="bar css">80%</div>
    </div>

    <p>JavaScript</p>
    <div class="skillbar">
        <div class="bar js">65%</div>
    </div>

    <p>PHP</p>
    <div class="skillbar">
        <div class="bar php">60%</div>
    </div>
</div>