@{
    ViewData["Title"] = "Home";
    string lyzeCookie = Context.Request.Cookies["LyzeCookie"];
}

<div class="blinker-container">
    <h1 class="blinker blinker-animate" id="title">Who is <span class="blinker-highlight">Stephen?</span></h1>
</div>
<script>
let possibleNames = [
  "@@author",
  "{author}",
  "<< author",
  "$author",
  "Null",
  "*author",
  "temp",
  "N.A.",
  "$(author)"
];
document.getElementById("title").innerHTML = "Who is <span class=\"blinker-highlight\">" + possibleNames[Math.floor(Math.random()*possibleNames.length)] + "</span>";
</script>
<hr/>
<div class="picture pic-left rounded">
    @if (lyzeCookie != null)
    {
        <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/83/83eba440315493c434fc59f7dd3287ac8b458d48_full.jpg" asp-append-version="true"/>
    }
    else
    {
        <img src="https://vignette.wikia.nocookie.net/joke-battles/images/8/8a/Zuckerberg.jpg/revision/latest?cb=20180613205736" asp-append-version="true"/>
    }
</div>
<p class="drop-cap">
    
</p>

@section Scripts
{
    <environment include="Development">
        <script src="~/js/blinker.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/blinker.min.js" asp-append-version="true"></script>
    </environment>
    
}
