@{
    ViewData["Title"] = "Home";
}

<div class="blinker-container">
    <h1 class="blinker blinker-animate" id="title">Who is Stephen?</h1>
</div>
<script>
document.getElementById("title").innerHTML = "Who is &lt;author>?";
</script>
<hr/>

<div class="picture pic-left rounded">
    <img src="images/temp-profile-pic.jpg" asp-append-version="true"/>
</div>
<p>
    <span class="drop-cap">S</span>tephen
</p>
<p>
    Sit amet mattis vulputate enim nulla aliquet porttitor. In eu mi bibendum neque egestas congue. Duis ut diam quam nulla. Eu lobortis elementum nibh tellus. Vestibulum morbi blandit cursus risus at ultrices mi. Vulputate ut pharetra sit amet aliquam id diam maecenas. Egestas tellus rutrum tellus pellentesque eu tincidunt. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Nisi est sit amet facilisis magna etiam tempor. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel. Ullamcorper morbi tincidunt ornare massa eget egestas purus. Faucibus purus in massa tempor nec feugiat nisl. Nibh nisl condimentum id venenatis a condimentum.
</p>

<!--
<div class="skill-container">
    <div class="skill-header">
        <div class="skill-header-pad"></div>
        <div class="skill-header-labels">
            <p class="skill-header-unskill">Beginner</p>
            <p class="skill-header-skill">Expert</p>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">HTML</p>
        <div class="skill-box html">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">CSS</p>
        <div class="skill-box css">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">JavaScript</p>
        <div class="skill-box js">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">PHP</p>
        <div class="skill-box php">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>-->