@{
    ViewData["Title"] = "Stephen Tafoya";
    string lyzeCookie = Context.Request.Cookies["LyzeCookie"];
    Layout = "_LayoutContainerless";
}

@section Meta {
    <meta name="description" content="Stephen Tafoya is a programmer who excels at a wide variety of languages and frameworks including but not limited to C, C++, Dotnet Core, Web Languages, Docker, Github Integration, Kubernetes, and many many more.">
    <meta name="og:title" property="og:title" content="Stephen Tafoya, Programmer">
    <meta name="og:description" property="og:description" content="Stephen Tafoya is a programmer who excels at a wide variety of languages and frameworks including but not limited to C, C++, Dotnet Core, Web Languages, Docker, Github Integration, Kubernetes, and many many more.">
    <meta name="og:image" property="og:image" content="https://tayko.co/images/wallpaper.jpg">
}

<section class="primary-section">
    <div class="index-intro-content">

        <div class="blinker-container">
            <h1 class="blinker-animate" id="title">Who is <br/><span class="blinker-highlight">Stephen?</span></h1>
        </div>
        <div class="index-whoami-container">
            <p id="index-whoami-0" class="index-whoami">I am the detective,</p>
            <p id="index-whoami-1" class="index-whoami">the murderer,</p>
            <p id="index-whoami-2" class="index-whoami">and the narrator.</p>
            <p id="index-whoami-3" class="index-whoami">I am a programmer.</p>
        </div>

        <div class="index-scroll-container">
            <div class="index-arrow-container">
                <svg width="100%" height="100%" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:1.5;">
                    <g transform="matrix(0.940587,0,0,0.940587,259.402,22.6521)">
                        <path id = "index-arrow" d="M-3.617,-12.692L-3.617,95.224C-3.617,120.775 17.128,141.52 42.679,141.52C48.82,141.52 54.683,140.322 60.047,138.147C77.003,131.271 87.788,123.664 105.958,112.487C115.621,106.543 126.993,103.114 139.16,103.114C174.205,103.114 202.657,131.567 202.657,166.612C202.657,201.657 174.205,230.11 139.16,230.11C133.298,230.11 127.329,229.665 121.836,228.61C92.445,222.962 -100.699,183.987 -128.825,178.794C-134.457,177.754 -140.385,176.788 -146.393,176.788C-181.439,176.788 -209.891,205.241 -209.891,240.286C-209.891,275.332 -181.439,303.784 -146.393,303.784C-136.285,303.784 -126.725,301.417 -118.238,297.207C-97.301,286.822 -88.527,280.495 -74.961,272.742C-67.499,268.478 -59.139,265.378 -49.913,265.378C-24.361,265.378 -3.617,286.123 -3.617,311.674L-3.617,492.112L-105.51,393.878L-3.617,492.257L98.276,393.878" style="fill:none;stroke:white;stroke-width:25.48px;"/>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</section>
<section style="height: 100vh; background-color: #000;">
    
</section>

<script>
    
let possibleNames = [
  "@@author",
  "{author}",
  "<< author",
  "$author",
  "Null",
  "*author",
  "temp",
  "N.A.",
  "$(author)"
];
document.getElementById("title").classList.add("blinker");
document.getElementById("title").innerHTML = "Who is <br/><span class=\"blinker-highlight\">" + possibleNames[Math.floor(Math.random()*possibleNames.length)] + "</span>";
document.getElementById("index-whoami-0").innerHTML = "";
document.getElementById("index-whoami-1").innerHTML = "";
document.getElementById("index-whoami-2").innerHTML = "";
document.getElementById("index-whoami-3").innerHTML = "";

let arrow = document.getElementById("index-arrow");
let arrow_length = arrow.getTotalLength();

arrow.style.display = "none";
arrow.style.strokeDasharray = arrow_length;
arrow.style.strokeDashoffset = arrow_length - 0.5;

</script>
<!--
<p class="drop-cap">
    Stephen is a highly skilled problem–solving oriented programmer with a 
    passion for building and debugging web and system–based 
    software. Fluent in several languages and different scopes 
    of programming expertise regarding web and system languages 
    including desktop graphical interfaces. Proven ability to 
    take the initiative when finding solutions and answers to 
    problems to ultimately provide stability for a project and 
    my team.
</p>
-->

@section Scripts
{
    <environment include="Development">
        <script src="~/js/blinker.js" asp-append-version="true"></script>
        <script src="~/js/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/blinker.min.js" asp-append-version="true"></script>
        <script src="~/js/index.min.js" asp-append-version="true"></script>
    </environment>
    
}
