@{
    ViewData["Title"] = "Home";
}

<div class="blinker-container">
    <h1 class="blinker blinker-animate" id="title">Who is Stephen?</h1>
</div>
<script>
document.getElementById("title").innerHTML = "Who is <span class=\"blinker-highlight\">@@author?</span>";
</script>
<hr/>

<div class="picture pic-left rounded">
    <img src="https://vignette.wikia.nocookie.net/joke-battles/images/8/8a/Zuckerberg.jpg/revision/latest?cb=20180613205736" asp-append-version="true"/>
</div>
<p class="drop-cap">
    Contrary to popular belief, Stephen is not Mark Zuckerberg. Yes he steals your data, and he may be a lizard person
    but it is unfair to compair him to the monster that is the Zuck. Even though he looks like Mark, Stephen wants me
    to assure you he is not in any way ginger or a robot, and you can trust that because I beleive him. 
    Why would he lie? Exactly, he would never lie to us because Mark... I mean Stephen is a diamond in the rough.
</p>

<!--
<div class="skill-container">
    <div class="skill-header">
        <div class="skill-header-pad"></div>
        <div class="skill-header-labels">
            <p class="skill-header-unskill">Beginner</p>
            <p class="skill-header-skill">Expert</p>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">HTML</p>
        <div class="skill-box html">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">CSS</p>
        <div class="skill-box css">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">JavaScript</p>
        <div class="skill-box js">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="skill">
        <p class="skill-desc">PHP</p>
        <div class="skill-box php">
            <div class="skill-dot-bar">
                <div class="skill-dot"></div>
            </div>
            <div class="skill-bar">
                <div class="bar"></div>
            </div>
        </div>
    </div>
</div>-->