@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to me.</h1>
<hr/>

<div style="height: 200vh;"></div>

<div class="skill-container">
    <p>HTML</p>
    <div class="skill-box html">
        <div class="skill-dot-bar">
            <div class="skill-dot"></div>
        </div>
        <div class="skill-bar">
            <div class="bar"></div>
        </div>
    </div>

    <p>CSS</p>
    <div class="skill-box css">
        <div class="skill-dot-bar">
            <div class="skill-dot"></div>
        </div>
        <div class="skill-bar">
            <div class="bar"></div>
        </div>
    </div>

    <p>JavaScript</p>
    <div class="skill-box js">
        <div class="skill-dot-bar">
            <div class="skill-dot"></div>
        </div>
        <div class="skill-bar">
            <div class="bar"></div>
        </div>
    </div>

    <p>PHP</p>
    <div class="skill-box php">
        <div class="skill-dot-bar">
            <div class="skill-dot"></div>
        </div>
        <div class="skill-bar">
            <div class="bar"></div>
        </div>
    </div>
</div>