@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Policy</h1>
<hr/>
<p class="privacy">
    Hi this is Stephen, the guy who wrote this site.
</p>
<p class="privacy">Regarding the privacy on this website, I do not collect any information from you and there are no trackers like google analytics</p>
<b><p class="privacy">At the most you will have two cookies.</p></b>
<ul class="privacy-list">
    <li>
        A cloudflare cookie
        <ul>
            <li>
                I use cloudflare as my dns, this cookie is used to verify TLS connections,
                you can read about it <a href="https://support.cloudflare.com/hc/en-us/articles/200170156-What-does-the-Cloudflare-cfduid-cookie-do-">here.</a>
            </li>
        </ul>
    </li>
    <li>
        A cookie consent cookie
        <ul>
            <li>In order to prevent the pop up cookie banner, I store a cookie that has the value "yes", so you don't have to see it every time you visit.</li>
        </ul>
    </li>
</ul>
<h2>What kind of data do I keep?</h2>
<p class="privacy">I store no data regarding you or your machine whatsoever.</p>
<h2>What kind of security is there on this site?</h2>
<p class="privacy">This site is secured by TLS encryption.</p>
<h2>Why write a privacy policy?</h2>
<p class="privacy">Because I felt like it, leave me alone.</p>
<br/>
<p class="privacy">If you have any questions or concerns, please refer to <a asp-controller="Home" asp-action="Contact">contact.</a></p>