/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #0A0F13;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #fff;
}

.hljs-strong,
.hljs-emphasis {
  color: #F4E8A1;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #a182b9;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #2A7299;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #F4783B;
}

.hljs-symbol,
.hljs-attribute {
  color: #2fa7d2;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #E4DDCA;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #F4E8A1;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #B1ADA0;
}

pre {
  background: #0A0F13;
  border: none;
}

footer {
  margin-left: 30vw;
  padding-top: 50px;
  background-color: #0A0F13;
}

@media screen and (max-width: 1300px) {
  footer {
    margin-left: 40vw;
  }
}

@media screen and (max-width: 1070px) {
  footer {
    margin-left: 0;
  }
}

.footer-content {
  width: 750px;
  padding: 25px;
  margin: 0 auto;
  display: flex;
}

.footer-content a {
  font-size: 16px;
}

.footer-content a:link, .footer-content a:visited {
  color: #fff;
}

.footer-content a:hover, .footer-content a:focus {
  color: #B1ADA0;
  font-style: normal;
  text-decoration: none;
}

.footer-content a:link:active, .footer-content a:visited:active {
  color: #B1ADA0;
}

.footer-content div.footer-projects, .footer-content div.footer-contact {
  max-width: 350px;
  min-width: 50px;
  min-height: 50px;
  padding: 10px 25px;
  flex: 1;
}

@media screen and (max-width: 1300px) {
  .footer-content {
    width: 650px;
  }
}

@media screen and (max-width: 650px) {
  .footer-content {
    width: 100%;
    display: block;
  }
}

nav {
  padding-top: 200px;
  width: 30vw;
}

@media screen and (max-width: 1300px) {
  nav {
    width: 40vw;
  }
}

@media screen and (max-width: 1070px) {
  nav {
    width: 100vw;
  }
}

nav h1 {
  color: #fff;
  text-align: center;
  font-size: 50px;
}

nav h1 a:link, nav h1 a:visited, nav h1 a:hover, nav h1 a:focus, nav h1 a:link:active, nav h1 a:visited:active {
  color: #fff;
  text-decoration: none;
}

nav h2 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding-top: 0;
}

@media screen and (max-width: 1070px) {
  nav {
    padding-top: 40px;
  }
}

nav > .navbar-list {
  padding-top: 30px;
  text-align: center;
  list-style: none;
}

nav > .navbar-list > li {
  display: inline-block;
  padding-left: 9px;
}

nav > .navbar-list > li a {
  transition: 0.3s;
  font-size: 14px;
}

nav > .navbar-list > li a:link, nav > .navbar-list > li a:visited {
  color: #fff;
}

nav > .navbar-list > li a:hover, nav > .navbar-list > li a:focus {
  color: #B1ADA0;
  font-style: normal;
  text-decoration: none;
}

nav > .navbar-list > li a:link:active, nav > .navbar-list > li a:visited:active {
  color: #B1ADA0;
}

nav > .navbar-list > li a:hover {
  letter-spacing: 1px;
}

nav > .navbar-list > li:after {
  color: #fff;
  content: "|";
  padding-left: 10px;
}

nav > .navbar-list > li:last-child:after {
  content: "";
  padding-left: 0;
}

.navbar-content {
  position: fixed;
}

@media screen and (max-width: 1070px) {
  .navbar-content {
    position: relative;
    height: 300px;
  }
}

.logout-button {
  top: 0;
  left: 0;
  position: fixed;
}

.body-content {
  margin-left: 30vw;
  background-color: #14191B;
  min-height: 100vh;
}

@media screen and (max-width: 1300px) {
  .body-content {
    margin-left: 40vw;
  }
}

@media screen and (max-width: 1070px) {
  .body-content {
    margin-left: 0;
  }
}

.primary-content {
  height: 100%;
  width: 750px;
  margin: 0 auto;
  padding: 100px 25px 25px;
}

@media screen and (max-width: 1300px) {
  .primary-content {
    width: 650px;
  }
}

@media screen and (max-width: 650px) {
  .primary-content {
    width: 100%;
    padding: 30px 25px 25px;
  }
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: #14191B;
}

body::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: #7b7879;
  outline: 1px solid slategrey;
}

.copyright {
  width: 30vw;
  text-align: center;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  line-height: 20px;
  font-size: 15px;
}

@media screen and (max-width: 1300px) {
  .copyright {
    width: 40vw;
  }
}

@media screen and (max-width: 1070px) {
  .copyright {
    width: 100vw;
  }
}

@media screen and (max-width: 1070px) {
  .copyright {
    position: relative;
    background-color: #14191B;
  }
}

.codebuttons {
  padding-top: 30px;
}

.codebuttons ul {
  text-align: center;
  list-style: none;
}

.codebuttons ul li {
  display: inline-block;
  padding: 0 10px;
}

.codebuttons ul li a img {
  width: 40px;
}

.bar {
  text-align: right;
  /* Right-align text */
  color: white;
  /* White text color */
  height: 10px;
  border-radius: 10px;
  background-color: #F4783B;
}

.skill-container {
  padding-top: 20px;
}

.skill-header-pad {
  width: 120px;
}

.skill-header-labels {
  float: right;
  width: 100%;
  padding: 5px;
}

.skill-header-labels p {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.skill-header-unskill {
  float: left;
}

.skill-header-skill {
  float: right;
}

.skill-desc {
  width: 120px;
  padding-left: 5px;
  padding-top: 10px;
  margin: 0;
}

.skill-box {
  width: 100%;
  height: 20px;
  padding: 5px;
  position: relative;
}

.skill-bar {
  width: 100%;
  /* Full width */
  background-color: #0a0f11;
  /* Grey background */
  border-radius: 20px;
  overflow: hidden;
}

.skill-dot-bar {
  padding-left: 20px;
  top: 0;
  left: 0;
  position: absolute;
  width: 90%;
  height: 20px;
}

.skill-dot {
  background-color: #F4783B;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  position: absolute;
  border-radius: 20px;
}

/*
C++
SQL
Python
Lua
Java
Javascript
dotnet core
asp.net core
web frontend
web backend
 */
.html .bar {
  width: 100%;
  background-color: #2A7299;
}

.html .skill-dot-bar {
  width: 100%;
}

.html .skill-dot-bar .skill-dot {
  background-color: #2A7299;
}

.css .bar {
  width: 50%;
  background-color: #2fa7d2;
}

.css .skill-dot-bar {
  width: 50%;
}

.css .skill-dot-bar .skill-dot {
  background-color: #2fa7d2;
}

.js .bar {
  width: 80%;
  background-color: #F4783B;
}

.js .skill-dot-bar {
  width: 80%;
}

.js .skill-dot-bar .skill-dot {
  background-color: #F4783B;
}

.php .bar {
  width: 25%;
  background-color: #F4E8A1;
}

.php .skill-dot-bar {
  width: 25%;
}

.php .skill-dot-bar .skill-dot {
  background-color: #F4E8A1;
}

.picture {
  height: 250px;
  width: 250px;
  overflow: hidden;
}

@media screen and (max-width: 1070px) {
  .picture {
    width: 150px;
    height: 150px;
  }
}

.picture img {
  margin: 10px;
  width: 230px;
  height: 230px;
}

@media screen and (max-width: 1070px) {
  .picture img {
    width: 130px;
    height: 130px;
  }
}

.picture.pic-left {
  float: left;
  margin-right: 20px;
}

.picture.pic-right {
  float: right;
  margin-left: 20px;
}

.picture.rounded {
  margin-right: 0px;
  shape-margin: 20px;
  width: 260px;
  height: 250px;
  shape-outside: ellipse(40% 38%);
  border-radius: 250px;
}

.picture.rounded img {
  border-radius: 250px;
}

@media screen and (max-width: 1070px) {
  .picture.rounded {
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
  .picture.rounded img {
    border-radius: 150px;
  }
}

.blinker::after {
  content: "|";
  display: inline-block;
}

.blinker-highlight {
  color: #2fa7d2;
}

.blinker-animate::after {
  animation: blinker-animation 1.5s steps(1) infinite;
}

@keyframes blinker-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes carousel_animation {
  1.11111% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  11.11111% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 25px;
}

.carousel-list {
  list-style: none;
}

.carousel-list > li {
  font-size: 20px;
  text-align: center;
}

.carousel-list > li:nth-child(1) {
  position: absolute;
  opacity: 0;
  animation-name: carousel_animation;
  animation-duration: 27s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  color: #fff;
  width: 100%;
}

.carousel-list > li:nth-child(2) {
  position: absolute;
  opacity: 0;
  animation-name: carousel_animation;
  animation-duration: 27s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  color: #fff;
  width: 100%;
}

.carousel-list > li:nth-child(3) {
  position: absolute;
  opacity: 0;
  animation-name: carousel_animation;
  animation-duration: 27s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
  color: #fff;
  width: 100%;
}

.carousel-list > li:nth-child(4) {
  position: absolute;
  opacity: 0;
  animation-name: carousel_animation;
  animation-duration: 27s;
  animation-delay: 9s;
  animation-iteration-count: infinite;
  color: #fff;
  width: 100%;
}

.carousel-list > li:nth-child(5) {
  position: absolute;
  opacity: 0;
  animation-name: carousel_animation;
  animation-duration: 27s;
  animation-delay: 12s;
  animation-iteration-count: infinite;
  color: #fff;
  width: 100%;
}

.carousel-list > li:nth-child(6) {
  position: absolute;
  opacity: 0;
  animation-name: carousel_animation;
  animation-duration: 27s;
  animation-delay: 15s;
  animation-iteration-count: infinite;
  color: #fff;
  width: 100%;
}

.carousel-list > li:nth-child(7) {
  position: absolute;
  opacity: 0;
  animation-name: carousel_animation;
  animation-duration: 27s;
  animation-delay: 18s;
  animation-iteration-count: infinite;
  color: #fff;
  width: 100%;
}

.carousel-list > li:nth-child(8) {
  position: absolute;
  opacity: 0;
  animation-name: carousel_animation;
  animation-duration: 27s;
  animation-delay: 21s;
  animation-iteration-count: infinite;
  color: #fff;
  width: 100%;
}

.carousel-list > li:nth-child(9) {
  position: absolute;
  opacity: 0;
  animation-name: carousel_animation;
  animation-duration: 27s;
  animation-delay: 24s;
  animation-iteration-count: infinite;
  color: #fff;
  width: 100%;
}

.carousel-list > liafter {
  content: none;
  padding: 0;
}

.popup {
  position: fixed;
  opacity: 0;
}

.popup:target {
  opacity: 1;
}

.consent-container {
  z-index: 999;
  position: fixed;
  width: 400px;
  background-color: #2A7299;
  color: #eeeeee;
  font-size: 16px;
  bottom: 15px;
  right: 15px;
  box-shadow: 4px 5px 10px 5px rgba(0, 0, 0, 0.38);
}

@media screen and (max-width: 450px) {
  .consent-container {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.consent-message {
  width: 100%;
  padding: 25px 60px;
}

.consent-message a:link, .consent-message a:visited {
  color: #90d2f5;
}

.consent-message a:hover, .consent-message a:focus {
  color: #75b2d4;
  font-style: normal;
  text-decoration: none;
}

.consent-message a:link:active, .consent-message a:visited:active {
  color: #90d2f5;
}

.consent-button {
  background-color: #308fbb;
}

.consent-button button {
  color: #fff;
  height: 100%;
  width: 100%;
  background: none;
  padding: 5px 10px;
  border: none;
  font-size: 25px;
  text-align: center;
}

.errorCode {
  font-size: 150px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/wallpaper-blur.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 65px;
  color: #fff;
}

h2 {
  padding-top: 25px;
  font-size: 40px;
  color: #fff;
}

h3 {
  color: #fff;
}

h4 {
  color: #fff;
}

p {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
}

p.drop-cap::first-letter {
  left: 0;
  position: absolute;
  float: left;
  font-size: 4.5em;
  line-height: 0.85em;
  padding-right: 5px;
  padding-top: 5px;
  color: #F4E8A1;
}

@media screen and (max-width: 1070px) {
  p.drop-cap::first-letter {
    font-size: 3em;
    line-height: 0.85em;
  }
}

div.clear {
  clear: both;
}
