@model BlogModel

<h1>Articles below</h1>
<hr/>
<ul>
    @{
        foreach (var article in Model.Articles)
        {
            <li><h2>@article.Title</h2></li>
            <li><p>@article.Description</p></li>
        }
    }
</ul>