@using System.IO

<h1>Articles below</h1>
<hr/>
<ul>
    @{
        var ArticleBag = ViewBag.ArticleBag;

        foreach (var article in ArticleBag)
        {
            <li>@article</li>
        }
    }
</ul>