@model BlogDataManager
@{
    ViewData["Title"] = "Blog";
}

<h1>Articles below</h1>
<hr/>
<ul class="article-overview">
    @{
        foreach (var article in Model.Articles)
        {
            <li>
                <a asp-controller="Blog" asp-action="LoadBlog" asp-route-article="@article.Name">
                    
                    @if (article.Date != DateTime.MinValue)
                    {
                        <p class="article-date">
                            @article.Date.ToString("D")
                        </p>
                    }
                    <h2>@article.Title</h2>

                    @{
                        var articleDescription = article.Description;
                        if (articleDescription.Length > 250)
                        {
                            articleDescription = articleDescription.Substring(0, 250);
                        }
                    }
                    <div class="article-description">
                        <div></div>
                        <p>@articleDescription</p>
                    </div>
                </a>
            </li>
        }
    }
</ul>