@model List<PostModel>
@{
    ViewData["Title"] = "Blog";
    Layout = "_Layout";
}

<h1>Blog</h1>
<hr/>
<ul class="article-overview">
    @{
        foreach (var post in Model )
        {
            <li>
                <a asp-controller="Blog" asp-action="LoadBlog" asp-route-article="@post.PostName">
                    
                    @if (post.PostDate != DateTime.MinValue)
                    {
                        <p class="article-date">
                            @post.PostDate.ToString("D")
                        </p>
                    }
                    <h2>@post.PostTitle</h2>

                    @{
                        var articleDescription = post.PostDescription;
                    }
                    <div class="article-description">
                        <div></div>
                        <p>@articleDescription</p>
                    </div>
                </a>
            </li>
        }
    }
</ul>