@model PostModel
@{
    ViewData["Title"] = Model.PostName;
    Layout = "_BlogLayout";
}

<div class="blog-image" style="background-image: url(@Model.PostName/@Model.PostCover.Name)">
</div>
<div class="blog-content">
    <div class="blog-container">
        @Html.Raw(Model.PostContent);
    </div>
</div>

@section Scripts
{
    <script>
    hljs.initHighlightingOnLoad();
    </script>
}