<footer>
    <div class="footer-wrapper">
        <div class="footer-contact">
            <p>Look around</p>
            <hr/>
            <ul>
                <li>
                    <a href="#">Github</a>
                </li>
                <li>
                    <a href="#">Gitlab</a>
                </li>
                <li>
                    <a href="#">Linkin</a>
                </li>
            </ul>
        </div>
        <div class="footer-projects">
            <p>Projects</p>
            <hr/>
        </div>
        <div class="clear"></div>
    </div>

</footer>