$top-padding: 100px;

.primary-wrapper {
  margin-left: 30vw;

  @media screen and (max-width: $page-transition-width) {
    margin-left: 40vw;
  }

  @media screen and (max-width: $page-response-width) {
    //padding-top: 30px;
    margin-left: 0;
  }
}

.primary-section {
  background-color: $color-background;
  min-height: 100vh;

  padding-top: $top-padding;

  @media screen and (max-width: $page-response-width) {
    min-height: -moz-calc(100vh - 300px);
    min-height: -webkit-calc(100vh - 300px);
    min-height: calc(100vh - 300px);
  }

  @media screen and (max-width: $page-smallest-width) {
    min-height: -moz-calc(100vh - 400px);
    min-height: -webkit-calc(100vh - 400px);
    min-height: calc(100vh - 400px);

    padding-top: 30px;
  }

  @media screen and (max-width: $page-response-width) and (max-height: 1000px) {
    min-height: 0px;
  }
}

.ancillary-section {
  background-color: $color-background;

  padding: 100px 0 100px 0;
  
  &.testing {
    background-color: $color-background-3;
  }
}

.content-wrapper {
  height: 100%;
  width: 750px;
  margin: 0 auto;
  
  padding: 0 25px 0 25px;

  @media screen and (max-width: $page-transition-width) {
    width: 650px;
  }

  @media screen and (max-width: $page-smallest-width) {
    width: 100%;
  }
}
