/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: $color-background-2;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: $color-foreground;
}

.hljs-strong,
.hljs-emphasis {
  color: $color-5;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: $color-7;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: $color-2;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: $color-4;
}

.hljs-symbol,
.hljs-attribute {
  color: $color-3;
}

.hljs-params,
.hljs-class .hljs-title {
  color: $color-6;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: $color-5;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: $gray-3;
}
