* {
  margin: 0;
  padding: 0;
}

body {
  //background-image: url("../images/wallpaper-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 65px;
  @include default_text;
}

h2 {
  padding-top: 25px;
  font-size: 40px;
  @include default_text;
}

h3 {
  @include default_text;
}

h4 {
  @include default_text;
}

p {
  @include default_text;
  
  font-size: 20px;
  line-height: 40px;

  &.drop-cap::first-letter {
    left: 0;
    position: absolute;
    float: left;
    font-size: 4.5em;
    line-height: 0.82em;
    padding-right: 5px;
    padding-top: 5px;
    color: $color-5;
  }
}

a {
  @include hover-text-link;
}

div.clear {
  clear:both;
}

span.italic {
  font-style: italic;
  font-weight: bold;
}