/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  margin-left: 30vw;
  background-color: #14191B;
  padding: 25px;
  min-height: 100vh;
}

.primary-content {
  height: 100%;
}

.navbar-content {
  position: fixed;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

