@import 'Parameters';
@import 'Colors';
@import 'CodeStyle';

@import 'Mixins/Resize';
@import 'Mixins/TextStyles';
@import 'Mixins/Links';

@import 'Layouts/Default';

@import 'Components/CodeBox';
@import 'Components/Footer';
@import 'Components/Navbar';
@import 'Components/Scrollbar';
@import 'Components/Copyright';
@import 'Components/CodeButton';
@import 'Components/SkillBox';
@import 'Components/Picture';
@import 'Components/Blinker';
@import 'Components/Carousel';
@import 'Components/Popup';
@import 'Components/Consent';
@import 'Components/CreditPhoto';

@import 'Pages/Error';
@import 'Pages/Blog';
@import 'Pages/Privacy';
@import 'Pages/Index';
 
@import 'Globals';

#content {
  display: none;
}
input[type="text"]{
  color: transparent;
  text-shadow: 0 0 0 #000;
  padding: 6px 12px;
  width: 60px;
  cursor: pointer;
}
input[type="text"]:focus{
  outline: none;
}
input:focus + div#content {
  display: block;
}